.menu-item {
  padding: 0 5px;
  margin: 1px 2px;
  user-select: none;
  cursor: pointer;
  border: none;
  height: 100%;
  overflow-x: auto;
}
.menu-item-wrapper.active {
  border: 0.5px black solid;
}
.menu-item.active {
  border: 0.5px green solid;
}

.scroll-menu-arrow {
  padding: 2px;
  cursor: pointer;
}