@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:600|Roboto:700");
* {
  box-sizing: border-box;
}
.animate-enter {
  animation: animate-enter-frames 1s ease 0.5s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(1.1);
}
.customermeals {
  background-color: white;
  display: block;
  height: 679px;
  position: relative;
  width: 414px;
  opacity: 0;
  transform: scale(1.1);
}
.customermeals .auto-flex {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: flex-start;
  min-height: 358px;
  width: 144px;
}
.customermeals .auto-flex1 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: flex-start;
  margin-left: 20px;
  min-height: 358px;
  width: 144px;
}
.customermeals .category1 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 18px;
  margin-top: 1px;
  min-height: 17px;
  min-width: 50px;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.customermeals .category2 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 28px;
  margin-top: 1px;
  min-height: 17px;
  min-width: 44px;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.customermeals .category3 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 27px;
  margin-top: 1px;
  min-height: 17px;
  min-width: 46px;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.customermeals .category4 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 26px;
  margin-top: 1px;
  min-height: 17px;
  min-width: 36px;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.customermeals .category5 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 27px;
  margin-top: 1px;
  min-height: 17px;
  min-width: 50px;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.customermeals .categoryname {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 26px;
  white-space: nowrap;
  width: auto;
}
.customermeals .dishframe {
  align-items: flex-end;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  height: 169px;
  justify-content: flex-start;
  left: 0px;
  min-width: 144px;
  position: absolute;
  top: 0px;
  width: auto;
}
.customermeals .dishframe-1 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  height: 169px;
  justify-content: flex-start;
  left: 0px;
  min-width: 144px;
  position: absolute;
  top: 0px;
  width: auto;
}
.customermeals .dishgreybackground {
  background-color: transparent;
  height: 100px;
  left: 0px;
  position: absolute;
  top: 69px;
  width: 144px;
}
.customermeals .dishimage {
  background-color: transparent;
  border-radius: 120px;
  height: 110px;
  left: 11px;
  position: absolute;
  top: 0px;
  width: 123px;
}
.customermeals .dishname {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 118px;
  white-space: nowrap;
  width: auto;
}
.customermeals .dishprice {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 138px;
  white-space: nowrap;
  width: auto;
}
.customermeals .goto-payment-button {
  align-items: flex-end;
  background-color: var(--salmon-pearl);
  border-radius: 25px;
  display: inline-flex;
  flex-direction: row;
  height: 39px;
  justify-content: flex-end;
  left: 122px;
  min-width: 171px;
  padding: 0 31px;
  position: absolute;
  top: 615px;
  width: auto;
}
.customermeals .lasermatelogo {
  background-color: transparent;
  height: 45px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 46px;
}
.customermeals .meals {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 373px;
  justify-content: flex-start;
  min-width: 319px;
  width: auto;
}
.customermeals .navbarfulllayout {
  align-items: center;
  background-color: transparent;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 94px;
  padding: 14.5px 0;
  position: absolute;
  top: 0px;
  width: 414px;
}
.customermeals .overlap-group {
  background-color: transparent;
  flex-shrink: 0;
  height: 169px;
  margin-bottom: -0px;
  position: relative;
  width: 144px;
}
.customermeals .overlap-group-1 {
  background-color: transparent;
  flex-shrink: 0;
  height: 169px;
  position: relative;
  width: 144px;
}
.customermeals .overlap-group-2 {
  background-color: transparent;
  flex-shrink: 0;
  height: 169px;
  margin-top: 20px;
  position: relative;
  width: 144px;
}
.customermeals .overlap-group-4 {
  align-items: flex-start;
  background-color: white;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 33px;
  justify-content: flex-start;
  margin-top: 14px;
  min-width: 414px;
  padding: 3.5px 14px;
  width: auto;
}
.customermeals .overlap-group1 {
  background-color: transparent;
  flex-shrink: 0;
  height: 169px;
  margin-top: -0px;
  position: relative;
  width: 144px;
}
.customermeals .overlap-group5 {
  background-color: transparent;
  height: 59px;
  left: 26px;
  position: absolute;
  top: 110px;
  width: 88px;
}
.customermeals .overlap-group6 {
  background-color: transparent;
  height: 94px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 414px;
}
.customermeals .rectanglecategory {
  background-color: var(--radical-red);
  height: 59px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 56px;
}
.customermeals .restaurantaddress {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: -7px;
  margin-left: 18.17px;
  min-height: 17px;
  min-width: 125px;
  opacity: 0.83;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.customermeals .scroll-group-1 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  height: 373px;
  justify-content: flex-end;
  left: 49px;
  min-width: 323px;
  position: fixed;
  top: 204px;
  width: auto;
}
.customermeals .span0 {
  color: rgba(255, 255, 255, 1);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
}
.customermeals .span1 {
  color: rgba(255, 255, 255, 1);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.customermeals .text-1 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 13px;
  min-height: 17px;
  min-width: 8px;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.customermeals .text-2 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: 24px;
  min-height: 17px;
  min-width: 8px;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.customermeals .textgotopayment {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  line-height: 2px;
  min-height: 20px;
  min-width: 106px;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.raleway-semi-bold-black-13px {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.raleway-semi-bold-black-23px {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
}
.raleway-semi-bold-white-15px {
  color: white;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}
.raleway-semi-bold-white-17px {
  color: white;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 17px;
}
:root {
  --radical-red: rgba(239, 71, 111, 1);
  --salmon-pearl: rgba(237, 61, 69, 1);
}
@keyframes animate-enter-frames {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
