@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:500,600|Roboto:700,500");
* {
  box-sizing: border-box;
}
.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}
.food-and-drink-ordering-platform-3 {
  align-items: center;
  background-color: var(--black-haze);
  display: flex;
  flex-direction: column;
  height: 679px;
  width: 414px;
}
.food-and-drink-ordering-platform-3 .backtomenutext {
  left: 29px;
  letter-spacing: 0px;
  line-height: 2px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}
.food-and-drink-ordering-platform-3 .button {
  background-color: var(--supernova);
  border-radius: 25px;
  height: 33px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 142px;
}
.food-and-drink-ordering-platform-3 .cardholdernametextbox {
  align-self: center;
  background-color: white;
  height: 24px;
  margin-right: 28px;
  margin-top: 13px;
  width: 294px;
}
.food-and-drink-ordering-platform-3 .cardnumbertext {
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: -5px;
  margin-left: 34.5px;
  margin-top: 5px;
  min-height: 19px;
  min-width: 140px;
  text-align: center;
  white-space: nowrap;
}
.food-and-drink-ordering-platform-3 .cardnumbertextbox {
  align-self: center;
  background-color: white;
  height: 24px;
  margin-right: 55px;
  margin-top: 13px;
  width: 267px;
}
.food-and-drink-ordering-platform-3 .cardtypetext {
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: -5px;
  margin-left: 34.5px;
  margin-top: 14px;
  min-height: 19px;
  min-width: 60px;
  text-align: center;
  white-space: nowrap;
}
.food-and-drink-ordering-platform-3 .cardtypetextbox {
  background-color: white;
  height: 24px;
  margin-left: 31.5px;
  margin-top: 15px;
  width: 157px;
}
.food-and-drink-ordering-platform-3 .expiredatetext {
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: -5px;
  margin-left: 34.5px;
  margin-top: 6px;
  min-height: 19px;
  min-width: 68px;
  text-align: center;
  white-space: nowrap;
}
.food-and-drink-ordering-platform-3 .expiredatetextbox1 {
  background-color: white;
  height: 24px;
  width: 50px;
}
.food-and-drink-ordering-platform-3 .expiredatetextbox2 {
  background-color: white;
  height: 24px;
  margin-left: 5px;
  width: 54px;
}
.food-and-drink-ordering-platform-3 .flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 31.5px;
  margin-top: 12px;
  min-width: 109px;
}
.food-and-drink-ordering-platform-3 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 19px;
  margin-left: 17.5px;
  min-width: 93px;
}
.food-and-drink-ordering-platform-3 .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 38px;
  margin-right: 6px;
  margin-top: 18px;
  min-width: 320px;
}
.food-and-drink-ordering-platform-3 .lasermatelogo {
  align-self: flex-end;
  height: 45px;
  width: 46px;
}
.food-and-drink-ordering-platform-3 .line {
  height: 1px;
  margin-top: 11px;
  width: 377px;
}
.food-and-drink-ordering-platform-3 .line1 {
  height: 1px;
  margin-top: 10px;
  width: 377px;
}
.food-and-drink-ordering-platform-3 .line2 {
  height: 1px;
  margin-top: 13px;
  width: 377px;
}
.food-and-drink-ordering-platform-3 .overlap-group {
  align-items: center;
  background-color: var(--cloud-burst);
  display: flex;
  height: 48px;
  margin-top: -3px;
  min-width: 414px;
}
.food-and-drink-ordering-platform-3 .overlap-group1 {
  align-items: flex-start;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-height: 570px;
  padding: 19.5px 14.5px;
  width: 414px;
}
.food-and-drink-ordering-platform-3 .overlap-group2 {
  align-self: flex-end;
  height: 36px;
  margin-left: 36px;
  position: relative;
  width: 142px;
}
.food-and-drink-ordering-platform-3 .overlap-group3 {
  height: 36px;
  position: relative;
  width: 142px;
}
.food-and-drink-ordering-platform-3 .paybycashtext {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 20.5px;
  margin-top: 16px;
  min-height: 26px;
  min-width: 94px;
  text-align: center;
  white-space: nowrap;
}
.food-and-drink-ordering-platform-3 .paymentportaltext {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 110px;
  min-height: 26px;
  min-width: 122px;
  text-align: center;
  white-space: nowrap;
}
.food-and-drink-ordering-platform-3 .placeordertext {
  left: 35px;
  letter-spacing: 0px;
  line-height: 2px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}
.food-and-drink-ordering-platform-3 .securitynumbertext {
  align-self: center;
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: -5px;
  margin-right: 50px;
  margin-top: 8px;
  min-height: 19px;
  min-width: 268px;
  text-align: center;
  white-space: nowrap;
}
.food-and-drink-ordering-platform-3 .securitynumbertextbox {
  background-color: white;
  height: 24px;
  margin-left: 32.5px;
  margin-top: 10px;
  width: 80px;
}
.food-and-drink-ordering-platform-3 .span {
  color: rgba(0, 0, 0, 1);
  font-family: "Raleway", Helvetica;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}
.food-and-drink-ordering-platform-3 .span-1 {
  color: rgba(0, 0, 0, 1);
  font-family: "Raleway", Helvetica;
  font-size: 18px;
  font-weight: 600;
}
.food-and-drink-ordering-platform-3 .text-1 {
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: -5px;
  margin-left: 33.5px;
  margin-top: 6px;
  min-height: 19px;
  min-width: 110px;
  text-align: center;
  white-space: nowrap;
}
.food-and-drink-ordering-platform-3 .text-2 {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 22.5px;
  margin-top: 17px;
  min-height: 26px;
  min-width: 212px;
  text-align: center;
  white-space: nowrap;
}
.food-and-drink-ordering-platform-3 .text-3 {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 19.5px;
  margin-top: 11px;
  min-height: 26px;
  min-width: 138px;
  text-align: center;
  white-space: nowrap;
}
.food-and-drink-ordering-platform-3 .totalprice {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 23px;
  min-height: 19px;
  min-width: 40px;
  text-align: center;
  white-space: nowrap;
}
.food-and-drink-ordering-platform-3 .totaltext {
  letter-spacing: 0px;
  line-height: 24px;
  min-height: 19px;
  min-width: 30px;
  text-align: center;
  white-space: nowrap;
}
.raleway-semi-bold-black-13px {
  color: black;
  font-family: "Raleway", Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.raleway-semi-bold-black-14px {
  color: black;
  font-family: "Raleway", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.raleway-semi-bold-black-18px {
  color: black;
  font-family: "Raleway", Helvetica;
  font-size: 18px;
}
.raleway-semi-bold-black-18px-2 {
  color: black;
  font-family: "Raleway", Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.raleway-semi-bold-white-18px {
  color: white;
  font-family: "Raleway", Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
:root {
  --black-haze: rgba(246, 246, 246, 1);
  --cloud-burst: rgba(36, 45, 72, 1);
  --dove-gray: rgba(112, 112, 112, 1);
  --supernova: rgba(250, 202, 0, 1);
}
